@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 97%;
    --foreground: 0 0% 10%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
  
    --primary: 0 0% 4%;
    --primary-foreground: 0 0% 100%;
  
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 10%;
  
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
  
    --accent: 160 84% 39%;
    --accent-foreground: 0 0% 100%;
  
    --success: 160 84% 39%;
    --success-foreground: 0 0% 100%;
    
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
  
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 0 0% 10%;
  
    --radius: 0.25rem;
  }
  
  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
  
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
  
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
  
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
  
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
  
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
  
    --accent: 160 84% 39%;
    --accent-foreground: 0 0% 100%;
  
    --success: 160 84% 39%;
    --success-foreground: 0 0% 100%;
    
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
  
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
  
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}